<template>
  <div>
    <md-list>
      <md-list-item v-for="friend in friends" :to="{ name: 'Conversation', params: { username: '@' + friend }}">
        <md-icon>person</md-icon>
        <span class="md-list-item-text">{{ friend }}</span>
      </md-list-item>
    </md-list>
    <md-speed-dial class="md-bottom-right">
      <md-speed-dial-target @click="addFriendModelActive = true">
        <md-icon>add</md-icon>
      </md-speed-dial-target>
    </md-speed-dial>

    <md-dialog-prompt
      :md-active.sync="addFriendModelActive"
      v-model="addFriendValue"
      md-title="Who do you want to chat with?"
      md-input-placeholder="Type your friends name..."
      md-confirm-text="Done"
      @md-confirm="onAddFriend" />

    <md-snackbar md-position="center" :md-active.sync="addFriendConfirmation" md-persistent>
      <span>{{addFriendValue}} added to your friend-list!</span>
    </md-snackbar>
  </div>
</template>
<script>
export default {
  name: 'ConversationList',
  data() {
    return {
      addFriendModelActive: false,
      addFriendValue: null,
      addFriendConfirmation: false,
      friends: [],
    };
  },
  created() {
    this.friends = JSON.parse(localStorage.friends);
  },
  methods: {
    onAddFriend() {
      this.addFriendConfirmation = true;
      this.friends.push(this.addFriendValue);
    },
  },
};
</script>

<style scoped>

</style>
