<template>
  <div>
    <md-list class="message-area md-double-line">
      <md-list-item v-for="m in currentMessages">
        <md-icon>person</md-icon>

        <span class="md-list-item-text">
          <span>{{m.message}}</span>
          <span>{{m.name}} - {{m.sentAt}}</span>
        </span>

      </md-list-item>
    </md-list>
    <md-card>
      <md-card-content>
      <form @submit.prevent="sendMessage">
        <div class="md-layout md-gutter md-alignment-center-center">
          <div class="md-layout-item">
              <md-field>
                <label>Message</label>
                <md-input v-model="inputMessage"></md-input>
              </md-field>
          </div>
          <div class="md-layout-item md-size-10">
              <md-button type="submit" class="md-icon-button">
                <md-icon>send</md-icon>
              </md-button>
          </div>
        </div>
      </form>
      </md-card-content>
    </md-card>
    <md-snackbar md-position="center" :md-active.sync="friendOffline" md-persistent>
      <span>{{recipient}} is offline!</span>
    </md-snackbar>
  </div>
</template>

<script>
import auth from '@/utils/auth';

function getCurrentTime() {
  // Calculate time
  const d = new Date();
  let s = d.getSeconds();
  let m = d.getMinutes();
  let h = d.getHours();
  if (s < 10) {
    s = `0${s}`;
  }
  if (m < 10) {
    m = `0${m}`;
  }
  if (h < 10) {
    h = `0${h}`;
  }
  return `${h}:${m}:${s}`;
}

export default {
  name: 'Conversation',
  data() {
    return {
      messages: {},
      currentMessages: [],
      inputMessage: null,
      error: false,
      recipient: '',
      friendOffline: false,
    };
  },
  created() {
    this.fetchData();

    // load conversation
    const conv = localStorage.conversations;
    if (conv) {
      this.messages = JSON.parse(conv);
      this.currentMessages = this.messages[this.recipient];
    } else {
      this.messages = {};
    }

    // event-listener
    this.$options.sockets.message = (data) => {
      if (data === 'offline') {
        this.friendOffline = true;
      } else {
        const res = JSON.parse(data);
        console.log(res);
        const msg = {
          message: res.message,
          name: res.sender,
          sentAt: res.sentAt,
        };

        if (!this.messages[res.sender]) { this.messages[res.sender] = []; }
        this.messages[res.sender].push(msg);

        this.currentMessages = this.messages[this.recipient];
      }
    };
    window.addEventListener('beforeunload', this.saveData);
  },
  beforeDestroy() {
    // save conversation
    localStorage.conversations = JSON.stringify(this.messages);
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.recipient = this.$route.params.username.replace('@', '');
    },
    sendMessage() {
      const msg = {
        sender: auth.getUsername(),
        recipient: this.recipient,
        message: this.inputMessage,
        sentAt: getCurrentTime(),
      };

      if (this.inputMessage) {
        if (!this.messages[this.recipient]) { this.messages[this.recipient] = []; }

        this.messages[this.recipient].push({
          message: this.inputMessage,
          name: auth.getUsername(),
          sentAt: getCurrentTime(),
        });
        this.$socket.emit('message', JSON.stringify(msg));
        this.inputMessage = null;
      }
    },
    saveData() {
      // save conversation
      localStorage.conversations = JSON.stringify(this.messages);
    },
  },
};
</script>

<style scoped>

  .message-area {
    height: 80vh;
  }

</style>
