<template>
  <div>
    <md-empty-state
      md-rounded
      md-icon="add"
      md-label="Nothing selected"
      md-description="Select a conversation from the left to start chatting.">
    </md-empty-state>
  </div>
</template>

<script>

export default {
  name: 'Empty',
};
</script>

<style scoped>

</style>
