<template>
  <div>
    <form novalidate class="md-layout" @submit.prevent="validateUser">
      <md-card class="md-layout-item md-size-50 md-small-size-100">
        <md-card-header>
          <div class="md-title">Registration</div>
          <p v-if="error" class="error">Registration failed<br/>{{ errorMsg }}</p>
        </md-card-header>

        <md-card-content>

          <md-field :class="getValidationClass('email')">
            <label for="username">Username</label>
            <md-input type="text" name="username" id="username" autocomplete="username" v-model="form.username" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.username.required">The username is required</span>
          </md-field>
          <md-field :class="getValidationClass('email')">
            <label for="password">Password</label>
            <md-input type="password" name="password" id="password" autocomplete="password" v-model="form.pass" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.pass.required">The password is required</span>
          </md-field>
        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending">Register</md-button>
        </md-card-actions>
      </md-card>
    </form>
  </div>
</template>

<script>
import auth from '@/utils/auth';
import Config from '@/utils/webconfig';

import { validationMixin } from 'vuelidate';
import {
  required,
} from 'vuelidate/lib/validators';

export default {
  name: 'Register',
  mixins: [validationMixin],
  data() {
    return {
      form: {
        username: '',
        pass: '',
      },
      sending: false,
      error: false,
      errorMsg: '',
    };
  },
  validations: {
    form: {
      username: {
        required,
      },
      pass: {
        required,
      },
    },
  },
  methods: {
    register() {
      this.$http.post(`${Config.api}register/`, { username: this.form.username, password: this.form.pass }).then((response) => {
        // success callback
        console.log(response);

        this.login();
      }, (response) => {
        console.log(response);
        // error callback
      });
    },
    login() {
      this.$http.post(`${Config.api}login/`, { username: this.form.username, password: this.form.pass }).then((response) => {
        // success callback
        const res = JSON.parse(response.bodyText);
        console.log(res);

        // connect to websocket
        const params = {
          type: 'login',
          token: {
            username: this.form.username,
            tokenString: res.token,
          },
        };
        this.$connectToSocket(`${Config.websocket}?data=${JSON.stringify(params)}`);
        this.$socket.emit('enterChatRoom', JSON.stringify(params));

        // save data to localstorage
        localStorage.friends = JSON.stringify(res.friends);
        auth.setLogin(this.form.username, res.token);
        this.$parent.username = this.form.username;

        // signal.generateKeys();

        this.$router.push('/');
      }, (response) => {
        console.log(response);
        this.error = true;
        this.errorMsg = response.bodyText;
        // error callback
      });
    },
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty,
        };
      }
    },
    validateUser() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.register();
      }
    },
  },
};
</script>

<style scoped>

  .col-centered{
    float: none;
    margin: 0 auto;
  }
</style>
