<template>
  <div class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary">
        <span v-if="username && loggedIn" class="md-title">Hi {{ username }}</span>
        <span v-if="!loggedIn" class="md-title">Welcome to Webchat</span>
        <div class="md-toolbar-section-end">
          <md-button v-if="loggedIn" :to="{ name: 'Logout' }">Logout</md-button>
          <md-button v-if="!loggedIn" :to="{ name: 'Register' }">Register</md-button>
        </div>
      </md-app-toolbar>

      <md-app-drawer v-if="loggedIn" md-permanent="clipped">
        <router-view name="conversationList"></router-view>
      </md-app-drawer>

      <md-app-content>
        <router-view></router-view>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>

import auth from '@/utils/auth';

export default {
  name: 'App',
  data() {
    return {
      loggedIn: auth.loggedIn(),
      username: '',
    };
  },
  created() {
    auth.onChange = (loggedIn) => {
      this.loggedIn = loggedIn;
    };
  },
};
</script>

<style>
  .md-app {
    height: 100vh;
  }
</style>
